* {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 200px 300px 550px 200px;
    grid-template-areas: 
    "he"
    "na"
    "ma"
    "se"
    "fo"
    ;
}

h1 {
    font-style: italic;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.position_absolute {
    position: absolute;
}

#en_gas {
    top: 20px;
    left: 50px;
}

#flera_gasar {
    top: 65px;
    left: 50px
}

#logga {
    width: 110px;
    height: 110px;
    top: 20px;
    right: 50px;
}

header {
    grid-area: he;
    background-color: aqua;
}

nav {
    grid-area: na;
    background-color: brown;
}

ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links {
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    border: 4px solid black;
    padding: 3px;
}

main {
    grid-area: ma;
    background-color: chartreuse;
}

footer {
    grid-area: fo;
    background-color: aquamarine;
}

article {
    width: 200px;
    height: 200px;
    margin: 50px;
}

#a1 {
    background-color: orchid;
    top: 650px;
    left: 350px;
}

#a2 {
    background-color: royalblue;
    top: 900px;
    left: 350px;
}

#a3 {
    background-color: darkgreen;
    top: 650px;
    left: 600px;
}

#a4 {
    background-color: grey;
    top: 900px;
    left: 600px;
}

section {
    width: 100%;
    height: 100%;
    grid-area: se;
    background-color: pink;
}

.tillbaka {
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 10px;
    left: 10px;
}






